/*
Theme Name: Astrid Child
Template: astrid
*/

/* Overwrite default styles */
body {
    font-size: 16px !important;
}
.site-content > .container, .hentry {
    border: none;
}
.entry-title {
    font-size: 4em;
}
.home-wrapper section:first-of-type{
    padding-bottom: 0 !important;
}
.home-wrapper .textwidget p {
    text-align: center;
}

/* Fix header style on >iphone 4 */
@media screen and (max-width: 320px) {
    .header-info {
        top: 5px;
    }
}

/* Custom portfolio page */

.project-wrapper {
    position: relative;
}
.project-info {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)%;
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.project-wrapper img {
    filter: brightness(.5);
    -webkit-filter: brightness(.5);
    -webkit-transition: all .3s  ease;
    -moz-transition: all .3s  ease;
    -ms-transition: all .3s  ease;
    -o-transition: all .3s ease;
    transition: all .3s  ease;
}
.project-wrapper img:hover {
    ffilter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}
